{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style></style>
{% block css %}{% endblock %}

<body>
    {% block content %}
    <p>This is a test file. Content of the below block is from it's child.</p>
    {% endblock %}
</body>

<script>
    // empty currently
</script>

{% block extra_script %}{% endblock %}

</html>